<link rel="stylesheet" href="/public/stylesheets/home.css">

<div class="hori-line"></div>
<section class="left">
    <div class="pages">
        <a href="/owner/home">All Products</a>
        <a href="/owner/createproduct">Create New Products</a>
    </div>
    
</section>