<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Limos-Your New Go to Shopping!</title>
    <link rel="stylesheet" href="/public/stylesheets/nav.css">
</head>
<body>
        <nav>
            <div class="logo">
                <img src="/public/images/logos/limos.png" alt="">
            </div>
            <div class="nav-info">
                <a href="/owner/home">Home</a>
                <a href="/owner/home">Products</a>
                <img id="profile-section" src="/public/images/uploads/Default.png" alt="">
            </div>
        </nav>
        <div class="profile-dropdown">
            <div class="dropdown-content">
                <a href="/user/profile">My Profile</a>
                <a href="/user/orders">My Orders</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <script>
            const dropdown = document.querySelector('.profile-dropdown')
            const profile = document.getElementById('profile-section')
            profile.addEventListener('click',()=>{
                dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block'
                
            })
            document.addEventListener('click',(e)=>{
                if(e.target !== profile && e.target !== dropdown){
                    dropdown.style.display = 'none'
                }
            })
        </script>