*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hori-line:first-of-type{
    position: fixed;
    width: 100%;
    height: 1px;
    background-color: rgb(16, 16, 16);
}
.hori-line{
    width: 100%;
    height: 1px;
    background-color: rgb(16, 16, 16);
}
.cart-info{
    width: 80%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    gap: 0.5em;
    padding: 10px 15px;
}
.product-info{
    width: 30%;
    background-color: rgb(133, 133, 133);

}
.img{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}
#cart-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;

}
.product-detail{
    padding: 0px 10px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-detail h2{
    font-size: 22px;
    width: fit-content;
}
.quantitiy{
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.quantitiy span{
    padding: 0.5px 4px;
    background-color: rgb(243, 243, 243);
    font-weight: 600;

}
.quantitiy img:hover{
    transform: scale(1.06);
    background-color: rgb(220, 220, 220);
}
.quantitiy img:first-of-type{
    padding: 2px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
.quantitiy img:last-of-type{
    padding: 2px;
    background-color: white;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
}
.product-price{
    width: 100%;
    height: 10%;
    background-color: rgb(39, 39, 39);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    color: white;
}
.product-price-info{
    /* background-color: pink; */
    width: 60%;
    padding: 10px 15px;
}
.price-down div{
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
    text-align: center;

} 

.price-down{
    /* background-color: aqua; */
    width: 40%;
    margin:10px 15px;
    font-size: 15px;
    font-weight: 600;
}
.total-price{
      width: 40%;
    margin:10px 15px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    padding: 2px 10px;
    justify-content: space-between;
    text-align: center;

}
button a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: white;

}
button{
    padding: 5px 8px;
    border: none;
    outline: none;
    margin:10px 15px;
    border-radius: 30px;
    background-color: rgb(0, 145, 255);
}