*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.right-section{
    width: 80% ;
    /* background-color: rgb(50, 48, 47); */
    display: flex;
    border: none;
    border-left: 1.5px solid black;
    flex-direction: column;
    margin: 10px auto;
    gap: 1em;
    padding: 10px 15px;
}
body{
    display: flex;
    flex-wrap: wrap;

}
h1 ,h2{
    color: rgb(50, 50, 50);
}
.vert-line{
    width: 80%;
    height: 1.5px;
    background-color: black;
}
.file-upload h3{
    color: rgb(134, 134, 134);
}
.file-upload{
    display: flex;
    margin-top: 20px;
    gap: 0.5em;
}
.upload:hover{
    background:#31aaf5;
}
.upload{
    background: #009dff;
    color: white;
    padding: 5px 8px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    align-self: center;
    display: inline-block;
}
input::-webkit-file-upload-text{
     display: none; 
}

form{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    width: 35%;
    font-size: 14px ;
    font-weight: 600;
    gap: 1.5em;
    
}

form input::placeholder{
    color: rgb(66, 66, 66);
    font-size: 14px;
    font-weight: 600;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="text"]{
    font-weight: 600;
}

form input{
    padding: 8px 8px;
    border: none;
    outline: none;
    margin-right: 10px;
    /* font-weight: 600; */
    background-color: rgb(223, 222, 222);
    border-radius: 8px;
}
.price-section{
    display: flex;
    justify-content: space-between;

}
.panel-detail{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;

}
input[type="color"] {
  width: 30px;
  height: 20px;
  outline: none;
  border: none;
  padding: 0px;
  margin-left: 10px;
  cursor: pointer;
  -webkit-appearance: none;
}
.panel-detail label:hover{
    background:#31aaf5;
}
.panel-detail label{
    background: #419fe7;
    color: white;
    padding: 4px 5px;
    font-size: 12px;
    border-radius: 30px;
    cursor: pointer;
    align-self: center;
    display: inline-block;

}
.panel-detail span{
    color: rgb(134, 134, 134);
}
.panel-detail div{
    border: none;
    padding: 5px;
    border-radius: 8px;
    /* background-color: #dedede; */
}

button{
    width: fit-content;
    padding: 5px 8px;
    border: none;
    border-radius: 4px;
    outline: none;
    background-color: orange;
}
button a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: black;

}
