*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}
.logo img{
    width: 150px;
    align-self: 1/1;
}
.container{
    width: 30%;
    /* background-color: blue; */
    aspect-ratio: 1/0.7;
    margin-top: 10%;
    border: none;
    outline: none;
}
.logo-title span{
    color: rgb(0, 34, 255);
}
.form{
    margin: 10px auto;
}
form{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
form input:focus{
    color: rgb(50, 50, 50);
    border: none;
    outline: none;

    /* background-color: rgb(177, 209, 240); */
}
form input::placeholder{
    color: rgb(140, 140, 140);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form input{
    padding: 0.6em;
    border:  none;
    background-color:rgb(234, 234, 234);
    border-radius: 8px;
    font-weight: 500;
}
form button:hover{
    transform: scale(1.06);
}
form button{
    width: fit-content;
    padding: 5px 8px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    text-align: center;
    border-radius:40px;
    background-color: rgb(88, 141, 240);
}
.login-info{
    margin-top: 20px;
    font-weight: 550;
    font-size: 15px;
}
.login-info p{
    color: rgb(62, 62, 62);
}
.login-info a{
    color: rgb(8, 127, 230);
    text-decoration: none;
}