*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
body{
    background-color: rgb(206, 206, 206);
}
.container{
    width: 40%;
    height: 80vh;
    overflow-y: auto;
    scrollbar-width: none;
    /* background-color: tomato; */
    margin: 2% 20%;
    border: none;
    outline: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 2rem;
    align-items: start;
    
}
.img-box{
    width: 60%;
    aspect-ratio: 1/0.8;
    /* background-color: yellowgreen; */
    position: relative;
    z-index: 1;
}

#profileimg{
    width: 60%;
    aspect-ratio: 1/1;
    border: none;
    outline: none;
    border-radius: 50%;
    align-self: center;
    margin: 10px 40px;
    object-fit: cover;
    object-position: center center;
}
#edit-img:hover{
    transform: scale(1.01);
    filter: invert(1);
}
#edit-img{
    position: absolute;
    top: 75%;
    left: 60%;
    cursor: pointer;
    z-index: 2;
}
.profile-info{
    width: 60%;
    aspect-ratio: 1/1;


}
form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
form label{
    font-size: 17px;
    font-weight: 600;
}
input::placeholder{
    font-weight: 600;
}
input::-webkit-outer-spin-button,::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
input{
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: whitesmoke;
    font-weight: 600;
    margin-left: 5px;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
button:hover{
    transform: scale(1.06);
    background-color: rgb(67, 190, 239);
    
}
button{
    margin: 10px 15px;
    width: fit-content;
    padding: 8px 10px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: rgb(6, 180, 249);
    color: rgb(34, 34, 34);
    font-weight: 700;
}